/* Write your CSS here */
.eachTodo {
  display: flex;
  justify-content: space-between;
}
.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
}
.button {
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  font-family: 'Roboto';
  background-color: white;
}
